body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

.scroll-container {
    max-width: 1100px;
    margin: 0 auto;

}

.scroll-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 46px;
    font-family: 'Sora';
}

.subtitle {
    text-align: center;
    color: #6b46c1;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Inter';
}

.blog {
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    overflow-x: auto;
    gap: 30px;
    scrollbar-width: none;
    /* For Firefox */
}

.blog::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.blog-card {
    background: linear-gradient(to bottom, #5F2EB7 0%, #1C163B 100%);
    border-radius: 10px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 340px;
}

.blog-image {
    height: 150px;
    width: 275px;
    border-radius: 20px;
    margin: 30px 32px;
    background-color: #e2e2e2;
}

.blog-content {
    padding: 20px;
    color: white;
}

.blog-title {
    font-size: 24px;
    margin-top: 0px;
    font-weight: 450;
}

.blog-description {
    font-size: 12px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.read-more {
    /* display: inline-block; */
    padding: 5px 5px;
    background-color: #6430C0;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-size: 14px;
    margin-left: 180px;
}

.read-more:hover {
    background-color: #6430C0;
}