.trusted-by {
    padding: 5rem 230px;
    border-bottom: 1px solid #eaeaea;
    background-color: #FFFFFF;
}

.trusted-by-title {
    color: #666;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0px;
    margin-bottom: 0rem;
    text-align: center;
}

.logo-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.logo-item {
    opacity: 0.6;
    transition: opacity 0.3s ease;
    max-width: 120px;
    height: auto;
}

.logo-item:hover {
    opacity: 1;
}

/* Responsive Styles */

/* For screen width up to 1024px */
@media (max-width: 1024px) {
    .trusted-by {
        padding: 5rem 150px;
    }
    .logo-grid {
        gap: 1.5rem;
    }
}

/* For screen width up to 680px */
@media (max-width: 680px) {
    .trusted-by {
        padding: 3rem 50px;
    }
    .logo-grid {
        justify-content: center;
        gap: 1rem;
    }
    .logo-item {
        max-width: 100px;
    }
}

/* For screen width up to 480px */
@media (max-width: 480px) {
    .trusted-by {
        padding: 2rem 20px;
    }
    .logo-grid {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .logo-item {
        max-width: 80px;
    }
}